.main-navigation > ul {
	margin-top: 0;
}

.site-wrapper {
	height: auto;
}

.canvas-wrapper {
	position: static;
 	-webkit-transform: none;
  transform: none;
	-webkit-transition: none;
	transition: none;
	height: auto;
	padding: 0;
}

.site-menu {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	padding: 1.5em 1.5em 1em 1.5em;
	z-index: 99;
}

.site-wrapper.show-nav .canvas-wrapper {
	-webkit-transform: none;  
  transform: none;  
}

.toggle-nav {
	display: none;
}

.header .site-logo {
	display: table-cell;
}

.header {
	width: var(--layout-width_tablet);
	margin: 0 auto;
}

.main-navigation {
	display: table-cell;
	vertical-align: top;
	padding-top: 12px;
}

.main-navigation > ul > li {
	display: inline-block;
	color: var(--main-color);
	position: relative;
	z-index: 999;
	font-size: 1.2rem;
	position: relative;
}

.main-navigation > ul > li:hover::after,
.main-navigation > ul > li:last-child::after {
	display: none;
}

.main-navigation > ul > li > ul {
	display: none;
}

.main-navigation > ul > li > ul a {
	color: var(--secondairy-color);
}

.main-navigation li.show-sub > ul, 
.main-navigation > ul > li:hover > ul {
	display: block;
	position: absolute;
	z-index: 9999;
	border: 1px solid var(--main-color);
	margin: 0 0 0 -1em;
	padding: .3em 0em .5em .8em;
	background: var(--main-color);
	border-bottom-left-radius: .5em;
}

.main-navigation > ul > li > ul > li {
	padding: 0em 1em;
	border-bottom: 1px solid var(--main-color);
}

.site-logo {
  display: table-cell;
  width: 27%;
  min-width: 100px;
}

.site-logo img {
	display: block;
	max-width: 100%;
}

.main-navigation__first:hover,
.main-navigation__first.show-sub {
	color: var(--tertiary-color);
	background: var(--main-color);
}

.main-navigation > ul > li > ul > li > a::before {
	top: .3em;
	left: .2em;
}