.site-wrapper {
	height: auto;
}

.canvas-wrapper {
	position: static;
 	-webkit-transform: none;
  transform: none;
	-webkit-transition: none;
	transition: none;
	height: auto;
	padding: 0;
}

.site-menu {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	padding: 1.5em;
	z-index: 99;
}

.site-wrapper.show-nav .canvas-wrapper {
	-webkit-transform: none;  
  transform: none;  
}

.toggle-nav {
	display: none;
}

.header {
	width: var(--layout-width_tablet);
	margin: 0 auto;
}

.main-navigation {
	display: table-cell;
	vertical-align: bottom;
}

.main-navigation > ul > li {
	display: inline-block;
	color: var(--main-color);
	position: relative;
	z-index: 999;
}

.main-navigation > ul > li > ul {
	display: none;
}

.main-navigation li.show-sub > ul, 
.main-navigation > ul > li:hover > ul {
	display: block;
	position: absolute;
	z-index: 9999;
	border: 1px solid var(--background-sup-sup);
	margin: 0 -1em;
	padding: 0;
}

.main-navigation > ul > li > ul > li {
	padding: 0em 1em;
	border-bottom: 1px solid var(--background-sup-sup);
}

.site-logo {
  display: table-cell;
  width: 34%;
  min-width: 100px;
}

.site-logo img {
	display: block;
	max-width: 100%;
}