.main-navigation > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-navigation > ul {
	background-color: var(--secondairy-color);
}

.main-navigation > ul > li {
	padding: .5em 1em;
}

.main-navigation > ul > li > ul {
	margin: 0;
	padding: 0 1em;
	list-style-type: none;
}

.main-navigation a {
	display: block;
}

.site-logo img {
	width: auto;
	display: inline-block;
	float: left;
}

.site-logo a {
	display: inline-block;
	width: auto;
}

.site-logo span {
  display: inline-block;
  margin-top: 10%;
  margin-left: 10px;
  font-size: 1.6em;
  font-family: "oswaldregular";
  color: var(--main-color);
}

.main-navigation a {
	text-decoration: none;
}

.main-navigation > ul > li > ul > li {
	padding-left: 0em;
	position: relative;
}

.main-navigation > ul > li > ul > li > a::before {
	content: '\25B6';
	display: inline-block;
	font-size: .7em;
	position: absolute;
	top: .2em;
	left: -1em;
}