<nav class="main-navigation" role="navigation" data-constructor="Navigation">
	<ul>
		<li class="main-navigation__first" aria-haspopup="true">Who we are
			<ul>
				<li><a href="#" title="dutch drilling consultants">Dutch drilling consultants</a></li>
				<li><a href="#" title="jobs">Jobs</a></li>
				<li><a href="#" title="our vision">Our vision</a></li>
			</ul>
		</li>
		<li class="main-navigation__first" aria-haspopup="true">What we do
			<ul>
				<li><a href="#" title="pile top drilling">Pile top drilling</a></li>
				<li><a href="#" title="services">Services</a></li>
				<li><a href="#" title="products">Products</a></li>
			</ul>
		</li>
		<li><a href="#" title="contact">Contact</a></li>
	</ul>
</nav>