<nav class="main-navigation" role="navigation" data-constructor="Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<ul>
		<li class="main-navigation__first" aria-haspopup="true" tabindex="0">Who we are
			<ul aria-hidden="true" aria-label="submenu">
				<li itemprop="name"><a itemprop="url" itemprop="url" href="#" title="dutch drilling consultants">Dutch drilling consultants</a></li>
				<li itemprop="name"><a itemprop="url" href="#" title="jobs">Jobs</a></li>
				<li itemprop="name"><a itemprop="url" href="#" title="our vision">Our vision</a></li>
			</ul>
		</li>
		<li class="main-navigation__first" aria-haspopup="true" tabindex="0">What we do
			<ul aria-hidden="true" aria-label="submenu">
				<li itemprop="name"><a itemprop="url" href="#" title="pile top drilling">Pile top drilling</a></li>
				<li itemprop="name"><a itemprop="url" href="#" title="services">Services</a></li>
				<li itemprop="name"><a itemprop="url" href="#" title="products">Products</a></li>
			</ul>
		</li>
		<li itemprop="name"><a href="#" title="contact">Contact</a></li>
	</ul>
</nav>