.site-wrapper {
	position: relative;
	width: 100%;
	height: 100%; 
}

.canvas-wrapper {
	width: 100%;
 	-webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
	padding: .5em 0;
}

.site-wrapper.show-nav .canvas-wrapper {
	-webkit-transform: translateZ(0) translateX(90vw);  
  transform: translateZ(0) translateX(90vw); 
}

.site-wrapper.show-nav {
	max-height: 100vh;
  overflow: hidden;
}

.site-menu {
	width: 90vw;
	height: 100%;
	position: absolute;
	top: 0;
	-webkit-transform: translateZ(0) translateX(-90vw);  
  transform: translateZ(0) translateX(-90vw); 
	background: var(--secondairy-color);
}

.main {
	height: 100%;
}

.site-wrapper .canvas-wrapper::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: -1;
	transition: background ease .3s;
}

.site-wrapper.show-nav .canvas-wrapper::after {
	background-color: rgba(0, 0, 0, .7);
	z-index: 999;
}

.site-wrapper .toggle-nav {
	position: relative;
	z-index: 99;
}

.site-wrapper .toggle-nav::before {
	content: '☰';
	width: .6em;
	padding-right: .2em;
	color: var(--main-color);
}

.site-wrapper.show-nav .toggle-nav::before {
	display: none;
}

.site-wrapper.show-nav .toggle-nav {
	position: fixed;
	z-index: 9999;
	-webkit-transform: translateX(-4.3em);
	transform: translateX(-4.3em);
	color: var(--main-color);
}	

.site-wrapper.show-nav .toggle-nav::after {
	content: '☰';
	width: .6em;
	padding-left: .2em;
	color: var(--secondairy-color);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
	.site-wrapper.show-nav .toggle-nav {
		position: relative;
	}
}