.site-wrapper {
	height: auto;
}

.canvas-wrapper {
	position: static;
 	-webkit-transform: none;
  transform: none;
	-webkit-transition: none;
	transition: none;
	height: auto;
	padding: 0;
}

.site-menu {
	width: 100%;
	position: static;
	top: 0;
	left: 0;
	padding: 1.5em;
	background: var(--secondairy-color);
}

.site-wrapper.show-nav .canvas-wrapper {
	-webkit-transform: none;  
  transform: none;  
}

.toggle-nav {
	display: none;
}