.site-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%; 
}

.canvas-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
 	-webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	 -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
	padding: .5em 0;
}

.site-menu {
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -300px;
	background: var(--main-color);
	padding: 2em 0 0;
}

.site-wrapper.show-nav .canvas-wrapper {
	-webkit-transform: translateZ(0) translateX(300px);  
  transform: translateZ(0) translateX(300px);  
}

.main {
	position: relative;
	height: 100%;
}

.site-wrapper .canvas-wrapper:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: -1;
	transition: background ease .3s;
}

.site-wrapper.show-nav .canvas-wrapper:after {
	background-color: rgba(0, 0, 0, .2);
}

.site-wrapper.show-nav .toggle-nav {
	position: relative;
	z-index: 99;
}	