*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
	height: 100vh;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
	/* ipad touch fix */
	cursor: pointer;
	-webkit-overflow-scrolling: touch
}

a > img {
	border: none;
}

a {
	font-size: inherit;
	color: var(--main-color);
}

img {
	max-width: 100%;
	width: 100%;
}

p, li {
	font-size: 1.1rem;
}