.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.center {
	text-align: center;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.special-background {
	background-color: var(--background-sup);
}

.border-top {
	border-top: 1px solid var(--background-sup-sup);
}