.project-overview--list-item {
	width: 50%;
	flex-grow: 1;
	padding: 1em 1em 1em 0;
	border: none;
}

.project-overview--list-item:last-child {
	border: none;
}

.project-overview--list-item--card__content {
	flex: 1 0 auto;
}

.project-overview .main-section {
	padding-bottom: 1em;
}

.overview-filter {
	float: right;
	margin-right: 20px;
	margin-top: 0;
}