footer {
    clear: both;
}

.social-list {
	margin: 0;
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.social-list--item {
	display: flex;
	flex-direction: column;
    flex-grow: 1;
	padding: 2em 1em 1em 1em;
}

.social-list--item a {
	text-decoration: none;
}

.company-compliance {
    font-size: .8rem;
    text-align: center;
}

footer .border-top {
    border-width: 2px;
}