<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- set favicon -->
<link rel="shortcut icon" href="../static/images/icons/favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/images/icons/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="../static/images/icons/bpfschilders_ico_60.png">
<link rel="apple-touch-icon" size="76x76" href="../static/images/icons/bpfschilders_ico_76.png">
<link rel="apple-touch-icon" size="120x120" href="../static/images/icons/bpfschilders_ico_120.png">
<link rel="apple-touch-icon" size="152x152" href="../static/images/icons/bpfschilders_ico_152.png">

<!--[if !lte IE 8]><!-->
<link rel="stylesheet" href="../static/stylesheets/screen.css" media="screen">
<link rel="stylesheet" href="../static/stylesheets/screen-tablet.css" media="min-width:40em">
<link rel="stylesheet" href="../static/stylesheets/screen-desktop.css" media="min-width:60em">
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="../static/javascripts/shim/html5shiv-printshiv.js"></script>
<![endif]-->
