<footer role="contentinfo">
<div class="grid border-top">
<div class="container">
	<ul class="social-list">
        <li class="social-list--item company-compliance">
            Chamber of Commerce: Rotterdam No.: 24290005 <br/>
            VAT: NL8182.16.207.B01
        </li>
		<li class="social-list--item"><a href="#" aria-label="twitter-icon"><i class="icon-twitter3"></i>Twitter</a></li>
		<li class="social-list--item"><a href="#" aria-label="linkedin-icon"><i class="icon-linkedin"></i>Linkedin</a></li>
	</ul>
</div>
</div>
</footer>