.main-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-list > li:not(:first-child) {
	border-top: 1px solid var(--secondairy-color);
}

.main-section {
	padding: 1em 1.5em;
}

.main-section figure {
	margin: 0;
}

.grid:nth-of-type(2) {
	margin-bottom: 2em;
}

.grid.special-background {
	padding: .5em 1em;
}