blockquote {
	margin: 1.5em 0em .75em 0;		
}

figure {
	margin: 0;
}

article .container p {
	padding: 0;
}

dl.main-section {
	padding: 1em 1.5em;
	box-shadow: none
}

dt {
	width: 40%;
	display: inline-block;
}

dd {
	width: 58%;
	display: inline-block;
}