.carousel {

}

.slide-list {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.active .slide {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  border: none;
}

.slide.current {
  display: block;

}