.carousel {
	position: relative;
	transform: translate3d(0,0,0);
}

.carousel--slide-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.active .carousel--slide-list--slide {
  display: none;
  position: relative;
  z-index: 500;
  border: none;
}

.carousel--slide-list--slide.current {
  display: block;
}

.carousel--btn-prev,
.carousel--btn-next {
  position: absolute;
  z-index: 700;
  top: 50%;
  border:0;
  background: rgba(255,255,255,.6);
  line-height: 1;
  padding: .5em;
  transition: padding .4s ease-out;
}

.carousel--btn-next:hover, .carousel--btn-next:focus,
.carousel--btn-prev:hover, .carousel--btn-prev:focus {
  padding-left: 1em;
  padding-right: 1em;
}

.carousel--btn-prev::before {
	content: '\25c4';
	display: inline-block;
}

.carousel--btn-prev {
  left:0;
  border-radius: 0 .25em .25em 0;
}

.carousel--btn-next::after {
	content: '\25ba';
	display: inline-block;
}

.carousel--btn-next {
  right:0;
  border-radius: .25em 0 0 .25em;
}

.carousel--controls {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.carousel li:first-child h1 {
    width: 100%;
    text-align: center;
    mix-blend-mode: multiply;
}

.carousel li:nth-child(2) h1 {
    width: 48%;
    text-align: right;
    margin: 0 2% 0 50%;
    mix-blend-mode: multiply;
}

.carousel li:nth-child(3) h1, 
.carousel li:nth-child(4) h1 {
	margin-left: 2%;
}