.carousel {
	position: relative;
	transform: translate3d(0,0,0);
}

.carousel--slide-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.active .carousel--slide-list--slide {
	display: none;
	opacity: 1;
  position: relative;
  z-index: 500;
  border: none;
  overflow: hidden;
}

.carousel--slide-list--slide.next {
	display: none;
}

.carousel--slide-list--slide.previous {
	display: none;
}

.carousel--slide-list--slide.current {
	display: block;
  animation: fadeIn 5s forwards 7s;
}

@keyframes fadeIn {
    0% {opacity: 1;}
    20% {opacity: 0;}
    30% {opacity: 0;}
	}

.carousel--btn-prev,
.carousel--btn-next {
  position: absolute;
  z-index: 700;
  top: 35%;
  border:0;
  background: rgba(255,255,255,.6);
  line-height: 1;
  padding: .5em;
  transition: padding .4s ease-out;
}

.carousel--btn-next:hover, .carousel--btn-next:focus,
.carousel--btn-prev:hover, .carousel--btn-prev:focus {
  padding-left: 1em;
  padding-right: 1em;
}

.carousel--btn-prev::before {
	content: '\25c4';
	display: inline-block;
}

.carousel--btn-prev {
  left:0;
  border-radius: 0 .25em .25em 0;
}

.carousel--btn-next::after {
	content: '\25ba';
	display: inline-block;
}

.carousel--btn-next {
  right:0;
  border-radius: .25em 0 0 .25em;
}

.carousel--controls {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.carousel li:first-child h1 {
    text-align: left;
    margin-left: 2%;
}

.carousel li:nth-child(3) h1 {
    width: 48%;
    text-align: right;
    margin: 0 2% 0 50%;
}

.carousel li:nth-child(2) h1,
.carousel li:nth-child(4) h1 {
	margin-left: 2%;
}

.carousel--slidenav button {
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  line-height: 1em;
  height: 2em;
  width: 2em;
  font-weight: bold;
  color: #fff;
}

.carousel--slidenav {
  position: relative;
  text-align: center;
  margin: 0 0 2em 0;
  padding: 0;
}

.carousel--slidenav li {
  display:inline-block;
  margin: 0 .5em;
}

.carousel--slidenav button {
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  line-height: 1em;
  height: 2em;
  width:2em;
  font-weight: bold;
  color: var(--secondairy-color);
}

.carousel--slidenav button.current {
  border-radius: .5em;
  background-color: var(--secondairy-color);
  color: var(--main-color);
}

.carousel--slidenav button:hover,
.carousel--slidenav button:focus {
  border: 2px dashed var(--secondairy-color);
}

.carousel--slidenav button.current:hover,
.carousel--slidenav button.current:focus {
  border: 2px dashed var(--secondairy-color);
}