<div class="carousel" role="region" aria-label="Dutch drilling crafts" data-constructor="Carousel">
	<ul class="carousel--slide-list" itemscope itemtype="http://schema.org/ImageGallery">
		<li class="carousel--slide-list--slide">
			<h1><span>"The foundation for innovation"</span></h1>
			<picture itemprop="associatedMedia" itemscope itemtype="http://schema.org/MediaObject">
				<source media="(min-width:768px)" srcset="../static/images/site-assets/pile-drill-sea-large.jpg,
				../static/images/site-assets/pile-drill-sea-large2x.jpg 2x">
				<source media="(min-width:400px)" srcset="../static/images/site-assets/pile-drill-sea-medium.jpg,
				../static/images/site-assets/pile-drill-sea-medium2x.jpg 2x">

				<img srcset="../static/images/site-assets/pile-drill-sea-small.jpg, ../static/images/site-assets/pile-drill-sea-small2x.jpg 2x"
					alt="pile drilling sea" sizes="100vw" itemprop="http://schema.org/image" />
			</picture>
		</li>
		<li class="carousel--slide-list--slide current">
			<div>
				<h1><span>"The foundation for innovation"</span></h1>
				<picture itemprop="associatedMedia" itemscope itemtype="http://schema.org/MediaObject">
					<source media="(min-width:768px)" srcset="../static/images/site-assets/bottomtower-large.jpg,
					../static/images/site-assets/bottomtower-large2x.jpg 2x">
					<source media="(min-width:400px)" srcset="../static/images/site-assets/bottomtower-medium.jpg,
					../static/images/site-assets/bottomtower-medium2x.jpg 2x">

					<img srcset="../static/images/site-assets/bottomtower-small.jpg , ../static/images/site-assets/bottomtower-medium.jpg 2x" alt="wind mills offshore"
						sizes="100vw" itemprop="http://schema.org/image" />
				</picture>
			</div>
		</li>
		<li class="carousel--slide-list--slide">
			<h1><span>"The foundation for innovation"</span></h1>
			<picture itemprop="associatedMedia" itemscope itemtype="http://schema.org/MediaObject">
				<source media="(min-width:768px)" srcset="../static/images/site-assets/krane-large.jpg,
				../static/images/site-assets/krane-large2x.jpg 2x">
				<source media="(min-width:400px)" srcset="../static/images/site-assets/krane-medium.jpg,
				../static/images/site-assets/krane-medium2x.jpg 2x">

				<img srcset="../static/images/site-assets/krane-small.jpg, ../static/images/site-assets/krane-small2x.jpg 2x" alt="pile drilling at sea"
					sizes="100vw" itemprop="http://schema.org/image" />
			</picture>
		</li>

		<li class="carousel--slide-list--slide">
			<h1><span>"The foundation for innovation"</span></h1>
			<picture itemprop="associatedMedia" itemscope itemtype="http://schema.org/MediaObject">
				<source media="(min-width:768px)" srcset="../static/images/site-assets/toptower-large.jpg,
				../static/images/site-assets/toptower-large2x.jpg 2x">
				<source media="(min-width:400px)" srcset="../static/images/site-assets/toptower-medium.jpg,
				../static/images/site-assets/toptower-medium2x.jpg 2x">
				<img srcset="../static/images/site-assets/toptower-small.jpg, ../static/images/site-assets/toptower-small2x.jpg 2x"
					alt="pile drilling" sizes="100vw" itemprop="http://schema.org/image" />
			</picture>
		</li>
	</ul>
</div>